* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
}

.title {
  display: flex;
  justify-content: center;
  width: 587px;
  height: 25px;
  left: 236px;
  margin: 25px;
  font-family: playfair;
  font-style: normal;
  font-weight: 700;
  line-height: 63.98px;
  color: #000000;
}

.container-todo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

container-main {
  display: flex;
}

.container-subtitulo {
  translate: 115px;
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 100;
  width: 350px;
  font-size: 14px;
  text-decoration: none;
  color: #4f4f4f;
}

.main-img {
  translate: 100px;
  height: 8px;
  border-radius: 25px;
  left: 6px;
  top: 0px;
}

.container-img {
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 650px;
  border-radius: 20px;
  height: 250px;
}

.container-h3 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700px;
  font-size: 24px;
  height: 25px;
  width: 500px;
  translate: 100px;
}

form p {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 100;
  font-size: 16px;
  height: 25px;
  translate: 110px;
  color: #333333;
}

.confirmaçao li {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  list-style: none;
  translate: 78px;
  color: #333333;
}

form h4 {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  translate: 110px;
  line-height: 50px;
  color: #333333;
}

.confirmaçao2 li {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  list-style: none;
  translate: 78px;
  line-height: 25px;
  color: #333333;
}

form h5 {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  translate: 110px;
  line-height: 50px;
  color: #333333;
}

.montagem li {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  list-style: none;
  translate: 78px;
  line-height: 45px;
  color: #333333;
}

.modopreparo h6 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  height: 45px;
  line-height: 29px;
  color: #333333;
  translate: 110px;
}

.modopreparo p {
  font-family: "Montserrat";
  font-style: normal;
  width: 528px;
  height: 50px;
  left: 287px;
  top: 1513px;
  color: #333333;
  translate: 29px;
}

.icone {
  display: flex;
  translate: 78px;
}

.bi-1-square {
  width: 26px;
  height: 26px;
  border-radius: none;
  color: white;
  translate: 25px;
  display: block;
  background: #f2994a;
  border-radius: 7px;
}

.preparo2 {
  display: flex;
  translate: 78px;
}

.bi-2-square {
  width: 26px;
  height: 26px;
  border-radius: none;
  color: white;
  translate: 25px;
  display: block;
  background: #f2994a;
  border-radius: 7px;
}

.preparo2 p {
  font-family: "Montserrat";
  font-style: normal;
  width: 528px;
  height: 50px;
  left: 287px;
  top: 1513px;
  color: #333333;
  translate: 29px;
}

.preparo3 {
  display: flex;
  translate: 78px;
}

.bi-3-square {
  width: 26px;
  height: 26px;
  border-radius: none;
  color: white;
  translate: 25px;
  display: block;
  background: #f2994a;
  border-radius: 7px;
}

.preparo3 p {
  font-family: "Montserrat";
  font-style: normal;
  width: 528px;
  height: 50px;
  left: 287px;
  top: 1513px;
  color: #333333;
  translate: 29px;
}

.bi-4-square {
  width: 26px;
  height: 26px;
  border-radius: none;
  color: white;
  translate: 25px;
  display: block;
  background: #f2994a;
  border-radius: 7px;
}

.final {
  display: flex;
  translate: 78px;
  color: #333333;
}

.final p {
  font-family: "Montserrat";
  font-style: normal;
  width: 528px;
  height: 50px;
  left: 500px;
  top: 1513px;
  color: #333333;
  translate: 29px;
}

.final1 {
  display: flex;
  translate: 78px;
}

.bi-5-square {
  width: 26px;
  height: 26px;
  border-radius: none;
  color: white;
  translate: 25px;
  display: block;
  background: #f2994a;
  border-radius: 7px;
}

.final1 p {
  font-family: "Montserrat";
  font-style: normal;
  width: 528px;
  height: 50px;
  left: 287px;
  top: 1513px;
  color: #333333;
  translate: 29px;
}

.final2 {
  display: flex;
  translate: 78px;
}

.bi-6-square {
  width: 26px;
  height: 26px;
  border-radius: none;
  color: white;
  translate: 25px;
  display: block;
  background: #f2994a;
  border-radius: 7px;
}

.final2 p {
  font-family: "Montserrat";
  font-style: normal;
  width: 528px;
  height: 50px;
  left: 287px;
  top: 1513px;
  color: #333333;
  translate: 29px;
}

.fim p {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  translate: 110px;
  line-height: 50px;
  color: #333333;
}

.encerrado {
  display: flex;
  translate: 78px;
}

.bi-7-square {
  width: 26px;
  height: 26px;
  border-radius: none;
  color: white;
  translate: 25px;
  display: block;
  background: #f2994a;
  border-radius: 7px;
}

.encerrado p {
  font-family: "Montserrat";
  font-style: normal;
  width: 528px;
  height: 70px;
  left: 287px;
  top: 1513px;
  color: #333333;
  translate: 29px;
}

.servir {
  display: flex;
  translate: 78px;
}

.bi-8-square {
  width: 26px;
  height: 26px;
  border-radius: none;
  color: white;
  translate: 25px;
  display: block;
  background: #f2994a;
  border-radius: 7px;
}

.servir p {
  font-family: "Montserrat";
  font-style: normal;
  width: 528px;
  height: 50px;
  left: 287px;
  top: 1513px;
  color: #333333;
  translate: 29px;
}

.box {
  background-color: #f51010;
  width: 150px;
  height: 250px;
  translate: 420px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}
