* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
}

.title {
  display: flex;
  justify-content: center;
  text-decoration: none;
  width: 587px;
  height: 25px;
  left: 236px;
  margin: 25px;
  font-family: playfair;
  font-style: normal;
  font-weight: 700;
  color: #000000;
}

container-main {
  display: flex;
}

.container-subtitulo {
  translate: 115px;
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 100;
  font-size: 14px;
  text-decoration: none;
  color: #4f4f4f;
}

.main-img {
  translate: 100px;
  height: 3px;
  left: 6px;
  top: 0px;
}

.container-img {
  display: flex;
  justify-content: center;
  padding: 25px;
  width: 595px;
  border-radius: 12px;
  height: 250px;
}

.container-ingredientes {
  translate: 100px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  font-family: "Playfair";
  color: #333333;
}

.container-ingredientes p {
  font-style: italic;
  font-weight: 100;
  font-size: 15px;
  padding: 5px;
  font-family: "Playfair";
}
#checkbox1 {
  width: 554px;
  height: 50px;
  left: 300px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
